h1 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color:gray;
}
body {
    background-color: aqua;
}
a {
    color:green;
    font-family: 'Courier New', Courier, monospace;
}